<div class="gembed" {% if include.colour %} style="border-left-color: {{ include.colour }};" {% endif %}>
    {% if include.author_name %}
    <header class="gembed-author">
        {% if include.author_icon %}
        <div class="gembed-author-icon">
            <img class="gembed-img" src="{{ include.author_icon }}"/>
        </div>
        {% endif %}
        <a class="gembed-author-text" {% if include.author_link %} href="https://www.guilded.gg/" {% endif %}>{{ include.author_name }}</a>
    </header>
    {% endif %}
    <div class="gembed-wrapper">
        <div class="gembed-body">
            {% if include.title %}
            <h4 class="gembed-title">{{ include.title }}</h4>
            {% endif %}
            {% if include.description %}
            <div class="gembed-description">{{ include.description }}</div>
            {% endif %}
            {% if include.fields %}
            <section class="gembed-fields">{{ include.fields }}</section>
            {% endif %}
            {% if include.image %}
            <div class="gembed-image-block">
                <img class="gembed-img" src="{{ include.image }}" alt="Embed Image" />
            </div>
            {% endif %}
        </div>
        {% if include.thumbnail %}
        <div class="gembed-thumbnail">
            <img class="gembed-img" src="{{ include.thumbnail }}" alt="Embed Thumbnail" />
        </div>
        {% endif %}
    </div>
    {% if include.footer_text %}
    <footer class="gembed-footer">
        {% if include.footer_icon %}
        <div class="gembed-footer-icon">
            <img class="gembed-img" src="{{ include.footer_icon }}"/>
        </div>
        {% endif %}
        <span class="gembed-footer-text">{{ include.footer_text }}</span>
    </footer>
    {% endif %}
</div>