<div class="guildedEmbed--main" {% if include.colour %} style="border-left-color: {{ include.colour }};" {% endif %}>
    {% if include.author_name %}
    <header class="guildedEmbed--author">
        {% if include.author_icon %}
        <div class="guildedEmbed--author-icon">
            <img class="guildedEmbed-image" src="{{ include.author_icon }}"/>
        </div>
        {% endif %}
        <a class="guildedEmbed--author-text" {% if include.author_link %} href="https://www.guilded.gg/" {% endif %}>{{ include.author_name }}</a>
    </header>
    {% endif %}
    <div class="guildedEmbed--content-wrapper">
        <div class="guildedEmbed--body">
            {% if include.title %}
            <p class="guildedEmbed--title guildedEmbed--content-header">{{ include.title }}</p>
            {% endif %}
            {% if include.description %}
            <div class="guildedEmbed--description">{{ include.description }}</div>
            {% endif %}
            {% if include.fields %}
            <section class="guildedEmbed--fields">{{ include.fields }}</section>
            {% endif %}
            {% if include.image %}
            <div class="guildedEmbed--image-block">
                <img class="guildedEmbed--img" src="{{ include.image }}" alt="Embed Image" />
            </div>
            {% endif %}
        </div>
        {% if include.thumbnail %}
        <div class="guildedEmbed--thumbnail">
            <img class="guildedEmbed--img" src="{{ include.thumbnail }}" alt="Embed Thumbnail" />
        </div>
        {% endif %}
    </div>
    {% if include.footer_text %}
    <footer class="guildedEmbed--footer">
        {% if include.footer_icon %}
        <div class="guildedEmbed--footer-icon">
            <img class="guildedEmbed--img" src="{{ include.footer_icon }}"/>
        </div>
        {% endif %}
        <span class="guildedEmbed--footer-text">{{ include.footer_text }}</span>
    </footer>
    {% endif %}
</div>