<div class="chatMessage--main">
    <aside class="chatMessage--avatar">
        <img class="chatMessage--avatar-image" src="https://raw.githubusercontent.com/Guilded-NET/Guilded.NET/early-access/assets/Icon.png"/>
    </aside>
    <div class="chatMessage--content-wrappper">
        <div class="chatMessage--header">
            {% if include.name %}
                {% assign name = include.name %}
            {% else %}
                {% assign name = "Guilded.NET Bot" %}
            {% endif %}
            <span class="chatMessage--author-name">{{ name }}</span><span class="chatMessage--timestamp">9:55pm</span>{% unless include.isUser %}<span class="chatMessage--badge">BOT</span>{% endunless %}
        </div>
        <section class="chatMessage--content">
            {% if include.content %}
            <div class="chatMessage--text">
                {{ include.content | markdownify }}
            </div>
            {% endif %}
            {% if include.other %}
            {{ include.other }}
            {% endif %}
        </section>
    </div>
</div>