<div class="list-category">
    <header class="list-header">
        <h5>Getting Started</h5>
    </header>
    <div class="list-body">
        <a class="list-item list-start" href="/docs/createBotTemplate"><i class="fas fa-play-circle"></i> Creating a bot - template</a>
        <a class="list-item list-start" href="/docs/createBotScratch"><i class="fas fa-play-circle"></i> Creating a bot from scratch</a>
        <a class="list-item list-start" href="/docs/givingFunctions"><i class="fas fa-bolt"></i> Powering up bot</a>
    </div>
</div>
<div class="list-category">
    <header class="list-header">
        <h5>Quick overview</h5>
    </header>
    <div class="list-body">
        <a class="list-item list-overview" href="/docs/supported"><i class="fas fa-clipboard-list"></i> Supported features</a>
    </div>
</div>
<div class="list-category">
    <header class="list-header">
        <h5>How to use</h5>
    </header>
    <div class="list-body">
        <a class="list-item list-use" href="/docs/embeds"><i class="fas fa-pen"></i> Embeds</a>
    </div>
</div>