{% assign currentPath = page.url | remove: ".html" %}
{% for category in site.data.docs %}
<li class="entryList--category">
    <header class="entryList--header">
        <h5 class="entryList--header-text">{{ category.name }}</h5>
    </header>
    <ul class="entryList--category-body">
        {% for doc in category.docs %}
        {% if doc.url == currentPath %}
            {% assign activeUrlClass = " entryList--item-active" %}
        {% else %}
            {% assign activeUrlClass = "" %}
        {% endif %}
        <li class="entryList--item{{ activeUrlClass }}">
            <a class="entryList--item-link" href="{{ doc.url }}"><i class="{{ doc.icon }}"></i> <span>{{ doc.name }}</span></a>
        </li>
        {% endfor %}
    </ul>
</li>
{% endfor %}