<div class="list-category">
    <div class="list-header">
        <h5>Getting started</h5>
    </div>
    <div class="list-body">
        <a class="list-item list-start" href="/guides/createBotTemplate">Creating a bot - template</a>
        <a class="list-item list-start" href="/guides/createBotScratch">Creating a bot from scratch</a>
        <a class="list-item list-start" href="/guides/givingFunctions">Giving bot functions</a>
    </div>
</div>
<div class="list-category">
    <div class="list-header">
        <h5>How to use</h5>
    </div>
    <div class="list-body">
        <a class="list-item list-use" href="/guides/embeds">Embeds</a>
    </div>
</div>