<head>
    {% if page.title %}
        {% assign pageTitle = page.title %}
    {% else %}
        {% assign pageTitle = page.name | remove: ".md" %}
    {% endif %}
    <title>Guilded.NET Docs - {{ pageTitle | escape }}</title>
    <link rel="icon" href="https://raw.githubusercontent.com/Guilded-NET/Guilded.NET/early-access/assets/Icon.png">
    <!-- HTML encoding -->
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta property="og:site_name" content="Guilded.NET" />
    <meta property="og:determiner" content="the" />
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="Guilded.NET - {{ pageTitle | escape }}" />
    <meta property="og:description" content="Guilded.NET website for documentation and information." />
    <meta property="og:thumbnail"
        content="https://raw.githubusercontent.com/Guilded-NET/Guilded.NET/early-access/assets/Icon.png" />
    <meta property="og:image"
        content="https://raw.githubusercontent.com/Guilded-NET/Guilded.NET/early-access/assets/Icon.png" />
    <meta property="og:locale" content="en_CA" />
    {% for tag in page.tags %}
    <meta property="article:tag" content="{{ tag }}"/>
    {% endfor %}
    {% if page.section %}
    <meta property="article:section" content="{{ page.section }}"/>
    {% endif %}
    <meta property="theme-color" content="#672a7a" />
    <meta content="utf-8" http-equiv="encoding" />
    <!-- Adds all of the libraries -->
    <link rel="stylesheet" href="/include/css/fa.css">
    <script src="/include/js/prism.js" type="text/javascript"></script>
    <script src="/include/js/prism.custom.js" type="text/javascript"></script>
    <!-- Adds site styling -->
    <link rel="stylesheet" type="text/css" href="/include/css/page.css" />
    <link rel="stylesheet" type="text/css" href="/include/css/document.css" />
    <link rel="stylesheet" type="text/css" href="/include/css/text.css" />
    {% if page.preview %}
    <link rel="stylesheet" type="text/css" href="/include/css/preview.css" />
    {% endif %}
    <link rel="stylesheet" type="text/css" href="/include/css/reference.css" />
    <link rel="stylesheet" type="text/css" href="/include/css/code.css" />
    <link id="doc-theme" rel="stylesheet" type="text/css" href="/include/css/theme-dark.css" />
</head>
