<nav class="navigation">
    <div class="navigation-inner">
        <div class="navigation-display">
            <img href="/index"
                src="https://raw.githubusercontent.com/Guilded-NET/Guilded.NET/early-access/assets/Banner.png" />
            <div class="navigation-buttons">
                <a title="Guides" href="/guides"><i class="fas fa-book-open"></i></a>
                <a title="References" href="/references"><i class="fas fa-book"></i></a>
                <a title="GitHub" href="https://github.com/Guilded-NET"><i class="fab fa-github"></i></a>
                <a title="Guilded Discussions" href="https://www.guilded.gg/guilded-api/groups/aDk5j9Jz/channels/8c247143-2009-415b-ab99-97912c0685bc/announcements"><i class="fab fa-guilded"></i></a>
            </div>
        </div>
    </div>
</nav>
<script src="/include/js/theme-switcher.js" type="text/javascript"></script>
