<div class="list-category">
    <div class="list-header">
        <h5>Guilded.NET</h5>
    </div>
    <div class="list-body">
        <a class="list-item list-class" href="/references/GuildedClient">GuildedClient</a>
        <a class="list-item list-delegate" href="/references/ClientEventHandler(GuildedClient)">ClientEventHandler(GuildedClient)</a>
        <a class="list-item list-delegate" href="/references/ClientEventHandler_T_(GuildedClient_T)">ClientEventHandler&lt;T&gt;(GuildedClient, T)</a>
        <a class="list-item list-class" href="/references/EventInfo">EventInfo</a>
        <a class="list-item list-class" href="/references/GuildedBotClient">GuildedBotClient</a>
        <a class="list-item list-module" href="/references/MediaUtil">MediaUtil</a>
        <a class="list-item list-class" href="/references/ContentConverter">ContentConverter</a>
        <a class="list-item list-class" href="/references/HexColorConverter">HexColorConverter</a>
        <a class="list-item list-class" href="/references/RichTextConverter">RichTextConverter</a>
    </div>
</div>
<div class="list-category">
    <div class="list-header">
        <h5>Guilded.NET.Base</h5>
    </div>
    <div class="list-body">
        <a class="list-item list-class" href="/references/BaseChannel">BaseChannel</a>
        <a class="list-item list-class" href="/references/BaseChannel_T_">BaseChannel&lt;T&gt;</a>
        <a class="list-item list-class" href="/references/BaseObject">BaseObject</a>
        <a class="list-item list-class" href="/references/BaseGuildedClient">BaseGuildedClient</a>
        <a class="list-item list-class" href="/references/ClientObject">ClientObject</a>
        <a class="list-item list-class" href="/references/BaseEmote">BaseEmote</a>
        <a class="list-item list-class" href="/references/Emote">Emote</a>
        <a class="list-item list-class" href="/references/EmoteInfo">EmoteInfo</a>
        <a class="list-item list-class" href="/references/EmoteUse">EmoteUse</a>
        <a class="list-item list-class" href="/references/Reaction">Reaction</a>
        <a class="list-item list-class" href="/references/GuildedException">GuildedException</a>
        <a class="list-item list-class" href="/references/GuildedUrl">GuildedUrl</a>
        <a class="list-item list-class" href="/references/FlatListConverter">FlatListConverter</a>
        <a class="list-item list-struct" href="/references/FormId">FormId</a>
        <a class="list-item list-struct" href="/references/GId">GId</a>
        <a class="list-item list-class" href="/references/IdConverter">IdConverter</a>
        <a class="list-item list-class" href="/references/GIdConverter">GIdConverter</a>
        <a class="list-item list-class" href="/references/FormIdConverter">FormIdConverter</a>
        <a class="list-item list-class" href="/references/DecimalColorConverter">DecimalColorConverter</a>
        <a class="list-item list-class" href="/references/Metadata">Metadata</a>
        <a class="list-item list-class" href="/references/MetadataInvite">MetadataInvite</a>
        <a class="list-item list-class" href="/references/About">About</a>
        <a class="list-item list-class" href="/references/BaseUser">BaseUser</a>
        <a class="list-item list-class" href="/references/DMChannel">DMChannel</a>
        <a class="list-item list-enum" href="/references/DMType">DMType</a>
        <a class="list-item list-class" href="/references/DMUser">DMUser</a>
        <a class="list-item list-class" href="/references/FlairInfo">FlairInfo</a>
        <a class="list-item list-class" href="/references/Friend">Friend</a>
        <a class="list-item list-class" href="/references/FriendList">FriendList</a>
        <a class="list-item list-class" href="/references/FriendRequests">FriendRequests</a>
        <a class="list-item list-enum" href="/references/FriendStatus">FriendStatus</a>
        <a class="list-item list-class" href="/references/FriendUser">FriendUser</a>
        <a class="list-item list-class" href="/references/GameAlias">GameAlias</a>
        <a class="list-item list-class" href="/references/GameStatus">GameStatus</a>
        <a class="list-item list-enum" href="/references/GlobalBadge">GlobalBadge</a>
        <a class="list-item list-class" href="/references/Me">Me</a>
        <a class="list-item list-enum" href="/references/Presence">Presence</a>
        <a class="list-item list-class" href="/references/ProfileUser">ProfileUser</a>
        <a class="list-item list-class" href="/references/SocialLink">SocialLink</a>
        <a class="list-item list-class" href="/references/ThisUser">ThisUser</a>
        <a class="list-item list-class" href="/references/User">User</a>
        <a class="list-item list-class" href="/references/UserStatus">UserStatus</a>
        <a class="list-item list-enum" href="/references/AnnounPermissions">AnnounPermissions</a>
        <a class="list-item list-enum" href="/references/BotPermissions">BotPermissions</a>
        <a class="list-item list-enum" href="/references/BracketPermissions">BracketPermissions</a>
        <a class="list-item list-enum" href="/references/CalendarPermissions">CalendarPermissions</a>
        <a class="list-item list-class" href="/references/ChannelPermission">ChannelPermission</a>
        <a class="list-item list-enum" href="/references/ChatPermissions">ChatPermissions</a>
        <a class="list-item list-enum" href="/references/CustomPermissions">CustomPermissions</a>
        <a class="list-item list-enum" href="/references/DocPermissions">DocPermissions</a>
        <a class="list-item list-enum" href="/references/FormPermissions">FormPermissions</a>
        <a class="list-item list-enum" href="/references/ForumPermissions">ForumPermissions</a>
        <a class="list-item list-enum" href="/references/GeneralPermissions">GeneralPermissions</a>
        <a class="list-item list-interface" href="/references/IPermission">IPermission</a>
        <a class="list-item list-enum" href="/references/ListPermissions">ListPermissions</a>
        <a class="list-item list-enum" href="/references/MatchmakingPermissions">MatchmakingPermissions</a>
        <a class="list-item list-enum" href="/references/MediaPermissions">MediaPermissions</a>
        <a class="list-item list-class" href="/references/PermissionList">PermissionList</a>
        <a class="list-item list-enum" href="/references/RecruitmentPermissions">RecruitmentPermissions</a>
        <a class="list-item list-enum" href="/references/SchedulingPermissions">SchedulingPermissions</a>
        <a class="list-item list-enum" href="/references/StreamPermissions">StreamPermissions</a>
        <a class="list-item list-class" href="/references/UserPermission">UserPermission</a>
        <a class="list-item list-enum" href="/references/VoicePermissions">VoicePermissions</a>
        <a class="list-item list-enum" href="/references/XPPermissions">XPPermissions</a>
        <a class="list-item list-class" href="/references/BaseTeam">BaseTeam</a>
        <a class="list-item list-class" href="/references/Category">Category</a>
        <a class="list-item list-class" href="/references/Channel">Channel</a>
        <a class="list-item list-class" href="/references/ChannelPermission">ChannelPermission</a>
        <a class="list-item list-class" href="/references/ChannelList">ChannelList</a>
        <a class="list-item list-class" href="/references/ChannelSettings">ChannelSettings</a>
        <a class="list-item list-class" href="/references/Flowbot">Flowbot</a>
        <a class="list-item list-class" href="/references/Group">Group</a>
        <a class="list-item list-interface" href="/references/IPermission">IPermission</a>
        <a class="list-item list-class" href="/references/Member">Member</a>
        <a class="list-item list-class" href="/references/MemberDetails">MemberDetails</a>
        <a class="list-item list-class" href="/references/MemberList">MemberList</a>
        <a class="list-item list-class" href="/references/Membership">Membership</a>
        <a class="list-item list-class" href="/references/PermissionBase">PermissionBase</a>
        <a class="list-item list-class" href="/references/Team">Team</a>
        <a class="list-item list-class" href="/references/TeamBot">TeamBot</a>
        <a class="list-item list-class" href="/references/TeamChannel_T_">TeamChannel&lt;T&gt;</a>
        <a class="list-item list-class" href="/references/TeamChannel">TeamChannel</a>
        <a class="list-item list-class" href="/references/TeamMeasurements">TeamMeasurements</a>
        <a class="list-item list-class" href="/references/TeamOverview">TeamOverview</a>
        <a class="list-item list-class" href="/references/TeamRole">TeamRole</a>
        <a class="list-item list-class" href="/references/ThreadChannel">ThreadChannel</a>
        <a class="list-item list-class" href="/references/Tournament">Tournament</a>
        <a class="list-item list-enum" href="/references/ChannelType">ChannelType</a>
        <a class="list-item list-enum" href="/references/GroupType">GroupType</a>
        <a class="list-item list-enum" href="/references/MembershipType">Membe
    </div>
</div>