@use "sass:math"

@import "../base/variables"
@import "../base/guilded"
@import "./preview/messages"
@import "./preview/embed"

/*
 * --- Preview ---
 */

.chatPreview--main
    border: 1px solid rgba(white, 0.1)
    background-color: $background-guilded
    color: $foreground-guilded
    // Spacing
    margin: $spacing-5 0
    padding: $spacing-3 0
    border-radius: $small-radius
    // Scrollbar
    max-height: 400px
    overflow-y: auto

    .body--content & img
        max-width: 100%

    ::selection
        background-color: rgba(#1e78ff, 0.7)
        color: white
