@use "sass:math"

@import "../base/variables"

.chat-preview
    border: 1px solid rgba(white, 0.1)
    // Spacing
    margin: $spacing-4 0
    padding: $spacing-3 0rem
    border-radius: $small-radius
    // Scrollbar
    max-height: 25rem
    overflow-y: auto
    // A message in a chat
    &-message
        display: flex
        flex-direction: row

        padding: $spacing-1 $spacing-3

        cursor: pointer
        // Make it darker on hover
        &:hover
            background-color: var(--background-level-3)

.preview
    // The icon of the user
    &-avatar
        margin-right: $spacing-2
        user-select: none
    &-icon
        width: 2.5rem
        height: 2.5rem
        border-radius: 100%
    // Name, message, etc.
    &-content
        flex: 1
    // The name and timestamp
    &-header
        user-select: none
        // Space after each item
        span
            margin-right: $spacing-1
        .preview-name
            font-weight: bolder
            &:hover
                text-decoration: underline solid 1px
        .preview-timestamp
            font-size: 0.8em
            color: var(--foreground-level-2)
            // Add a space before and after itself
        .preview-badge
            padding: math.div($spacing-0, 2) $spacing-0
            border-radius: $tiny-radius
            background-color: #575964

            font-size: 0.6em
            text-transform: uppercase
            text-shadow: 0 0 2px #000B

/*
 * --- Embeds ---
 */

// Top level
.gembed
    // Display
    display: inline-block
    overflow: hidden

    // Borders
    border: 0.05rem solid
    border-color: #FFFFFF12
    border-radius: $tiny-radius

    // Content
    background-color: var(--background-level-3)

    // Inner area
    &-inner
        border-left: 0.2rem solid
        border-left-color: #ececec
    // The footer and author of the embed
    &-author, &-footer
        display: block
        overflow: auto
        padding: $spacing-1
        // Body of them
        div
            display: inline
            float: left
            margin: $spacing-0
    // Only footer
    &-footer
        background-color: var(--background-level-2)
        color: var(--foreground-level-2)
    // Side thumbnail
    &-thumbnail
        flex: 1 1 auto
        // Make sure it's always square
        img
            width: 8rem
            height: 8rem
    // Small icons
    &-img, &-author-icon, &-footer-icon
        width: 1.3rem
        height: 1.3rem
    &-footer-icon &-img
        border-radius: 50%
    // Content area
    &-wrapper
        display: flex
        flex-direction: row
        flex-wrap: column wrap
        box-sizing: border-box
    // Titles
    &-title, &-field-title
        margin-bottom: 0.2rem
    &-author-text, &-title, &-field-title
        font-weight: bolder
    // Title and description
    &-body
        padding: $spacing-1
    // Fields
    &-field
        width: 100%
        padding-top: $spacing-1
        padding-bottom: $spacing-1
        flex: 0 0 auto
        // Field container
        &s
            display: inline-flex
            flex-wrap: wrap
            flex-direction: row
            justify-content: space-between
            padding-top: $spacing-1
            padding-bottom: $spacing-1
        // Inline field
        &-inline
            width: 33%
            flex: auto auto auto
        // Content
        &-title, &-body
            display: block
    // Image
    &-image-block img
        max-width: 30rem
        max-height: 15rem
