@import "../base/variables"
@import "../base/helpers"
@import "../base/fa"

.body-list
    // Type search
    &-search
        padding: $spacing-2
    // Type list
    &-items
        padding: $spacing-1
        height: 100%
        overflow-y: auto
        color: var(--foreground-level-2)
        // Override header colour
        h5
            color: var(--foreground-level-2)

/*
 * --- Search ---
 */

.list-search-wrapper
    // Display
    background-color: var(--background-level-4)
    border: 1px solid rgba(white, 0.1)
    @include default-transition(background-color)
    // Spacing
    padding: $spacing-1 - 2px
    border-radius: 16px
    // Make the icon aligned with the input
    display: flex
    flex-direction: row
    // Icon
    &::before
        @include include-fa('\f002')
        color: var(--foreground-level-2)
        fill: var(--foreground-level-2)
        margin-right: $spacing-1
// The search input
#list-search
    outline: 0
    border: 0
    padding: 0
    width: 100%
    background-color: transparent
    color: var(--foreground-level-1)
    &::placeholder
        color: var(--foreground-level-2)

/*
 * --- Items ---
 */

.list
    &-body
        margin: 0
    &-item
        display: block
        // Spacing
        padding: $spacing-1 $spacing-2
        border-radius: $tiny-radius
        // Make sure it's always grey
        &,
        &[href],
        &[href]:focus,
        &[href]:active,
        &[href]:visited
            color: var(--foreground-level-2)
        // Add a background on hover and whiter text
        &:hover, &[href]:hover
            color: var(--foreground-level-1)
            background-color: var(--background-level-2-highlight)