@use "sass:math"
@import "../base/variables"
@import "../base/fa"

/*
 * --- Normal text ---
 */

// Change the colour and font of headers
h1, h2, h3, h4, h5, h6
    color: var(--foreground-level-0)
    font-family: $font-header

// Change line height for inline code
p, li
    line-height: 1.3em

// Links
a[href]
    text-decoration: none
    // Semi-gilded normally
    &, &:visited, &:focus, &:active
        color: var(--foreground-link)
        // If it holds code, make it coloured too
        code
            color: var(--foreground-link)
    // White on hover
    &:hover
        color: var(--foreground-link-hover)
        code
            color: var(--foreground-link-hover)

/*
 * --- Formatting ---
 */

.body-content > img,
.body-content p > img,
.body-content blockquote > img
    // Don't make it go beyond the bounds
    max-width: 75%

    // Make it center-aligned
    display: block
    margin-left: auto
    margin-right: auto

// Remove that big spacing in a block quote or preview message
p, blockquote
    margin: $spacing-1 0
    &:first-child
        margin-top: 0
    &:last-child
        margin-bottom: 0

@mixin blockquote-type($icon, $title, $colour)
    background-color: rgba($colour, 0.1)
    border-color: $colour
    &::before
        color: $colour
        content: $icon + ' ' + $title + ':'

blockquote
    // Spacing
    margin: $spacing-5 0
    padding: $spacing-2 $spacing-4
    border-radius: $small-radius

    // Misc
    line-height: $spacing-4
    background-color: rgba(black, 0.15)

    // Side bar
    border-left: solid $small-radius $gilded-full
    // For log blocks
    &.note, &.tip, &.warning, &.caution, &.important, &.implement, &.inherit, &.security-note,
    &.caller, &.language-csharp, &.language-fsharp, &.language-vbnet
        border: solid 1px
        // Add an icon
        &::before
            @include include-fa('\f059')

            margin: $spacing-1 0
            display: block
            line-height: 1
    // Basic blockquote types
    &.note
        @include blockquote-type('\f138', 'Note', $event-green)
    &.tip
        @include blockquote-type('\f0eb', 'Tip', $event-cyan)
    &.warning
        @include blockquote-type('\f06a', 'Warning', $event-yellow)
    &.caution
        @include blockquote-type('\f057', 'Caution', $event-red)
    &.important
        @include blockquote-type('\f05a', 'Important', $event-red)
    // Other
    &.implement
        @include blockquote-type('\f101', 'Implementing', $event-cyan)
    &.inherit
        @include blockquote-type('\f35a', 'Inheriting', $event-sky)
    &.security-note
        @include blockquote-type('\f3ed', 'Security note', $event-purple)
    &.caller
        @include blockquote-type('\f0e7', 'Calling', $event-purple)
    // Language
    &.language-csharp
        @include blockquote-type('\f02d', 'C# only', $event-green)
    &.language-fsharp
        @include blockquote-type('\f02d', 'F# only', $event-purple)
    &.language-vbnet
        @include blockquote-type('\f02d', 'VB.NET only', $event-sky)


// Remove code block spacing
pre
    margin: 0
    padding: 0
    overflow: auto
code
    color: var(--foreground-level-1)
    background-color: var(--background-level-2)

// Tag-based
q
    border-radius: $tiny-radius
    padding: 2px $spacing-0
    background-color: var(--background-level-4-highlight)
    &::before, &::after
        opacity: 45%
        // Don't push the current line of text slightly below
        line-height: 0

        font-size: 2em
        font-family: monospace
kbd
    background-color: var(--background-level-2)

    margin: 0 $spacing-0
    padding: $spacing-0 - 2px $spacing-1 - 3px
    border-radius: $tiny-radius

    font-size: 0.8em
    font-weight: bold
    font-family: $font-normal
    text-transform: capitalize

// Tables
table
    border-spacing: 0 1px

    // Rounding
    overflow: hidden

    // Add spacing before and after it
    margin-top: $spacing-2
    margin-bottom: $spacing-2

    font-size: 0.8em
    // Heading
    thead
        tr
            color: var(--foreground-level-2)
    // Body rows
    tbody
        border-radius: $small-radius
        tr
            background-color: var(--background-level-3)
            td
                padding-right: 13px
    // Any row item
    th, td
        padding: $spacing-1
        text-align: left
    // Checkmark, crossmark table
    .fa-check
        color: $condition-good
    .fa-question
        color: $event-sky
    .fa-slash
        color: $event-yellow
        transform: rotate(15deg)
    .fa-times
        color: $condition-bad


// Referenced foonotes
.footnotes
    margin-top: $spacing-5

    border-radius: $medium-radius
    padding: $spacing-1 $spacing-4
    background-color: var(--background-level-3)

    li
        margin: $spacing-2 0