@use "sass:math"
@import "../base/variables"
@import "../base/fa"
@import "./text/formatting"
@import "./text/codeblock"
@import "./text/syntax"

/*
 * --- Normal text ---
 */

// Change the colour and font of headers
h1, h2, h3, h4, h5, h6
    color: var(--foreground-level-0)
    font-family: $font-header

// Change line height for inline code
p, li
    line-height: 1.3em

// Links
a[href]
    text-decoration: none
    // Semi-gilded normally
    &, &:visited, &:focus, &:active
        color: var(--foreground-link)
        // If it holds code, make it coloured too
        code
            color: var(--foreground-link)
    // White on hover
    &:hover
        color: var(--foreground-link-hover)
        code
            color: var(--foreground-link-hover)
