@import "../variables"

blockquote-type(icon, title, colour)
    //background-color: var(--background-format)
    //border: solid 1px var(--background-document-highlight)
    &::before
        background-color: colour
    &::after
        color: colour
        content: icon + ' ' + title + ':'

.markdown-content
    img
        // Don't make it go beyond the bounds
        max-width: 75%

        // Make it center-aligned
        display: block
        margin-left: auto
        margin-right: auto

    // Remove that big spacing in a block quote or preview message
    p, blockquote
        margin: spacing-1 0
        &:first-child
            margin-top: 0
        &:last-child
            margin-bottom: 0

    blockquote
        // Item
        display: flex
        flex-direction: column
        // Spacing
        margin: spacing-5 0
        padding: spacing-3 spacing-4
        border-radius: small-radius

        // Misc
        line-height: spacing-4
        background-color: rgba(black, 0.25)
        position: relative

        &::before
            content: ""

            position: absolute
            left: 0
            top: 0
            bottom: 0

            width: spacing-0
            border-radius: tiny-radius

            background-color: var(--foreground-4)

    // Remove code block spacing
    pre
        margin: 0
        padding: 0
        overflow: auto
    code
        background-color: var(--background-0)

        // Inline code
        :not(pre) > &
            color: var(--foreground-2)
            border-radius: tiny-radius
            padding: 1px spacing-0

            line-break: strict
            white-space: pre-wrap
            font-size: 0.9em

            &[class]
                color: var(--foreground-1)

    // Tag-based
    q
        border-radius: tiny-radius
        padding: 2px spacing-0
        background-color: var(--background-4)
        &::before, &::after
            opacity: 45%
            // Don't push the current line of text slightly below
            line-height: 0

            font-size: 2em
            font-family: monospace
    kbd
        background-color: var(--background-2)

        margin: 0 spacing-0
        padding: spacing-0 - 2px spacing-1 - 3px
        border-radius: tiny-radius

        font-size: 0.8em
        font-weight: bold
        font-family: font-normal
        text-transform: capitalize

    // Tables
    table
        border-spacing: 0 1px

        // Rounding
        overflow: hidden

        // Add spacing before and after it
        margin-top: spacing-2
        margin-bottom: spacing-2

        font-size: 0.8em
        // Heading
        thead
            tr
                color: var(--foreground-2)
        // Body rows
        tbody
            border-radius: small-radius
            tr
                background-color: var(--background-1)
                &:nth-child(even)
                    background-color: var(--background-0)
                td
                    padding-right: 13px
                td[align="center"]
                    text-align: center
        // Any row item
        th, td
            padding: spacing-1
            text-align: left
        // Checkmark, crossmark table
        .fa-check
            color: condition-good
        .fa-question
            color: highlight-colour.sky
        .fa-slash
            color: highlight-colour.yellow
            transform: rotate(15deg)
        .fa-times
            color: condition-bad

    .body--content table:not(.auto-width)
        width: 100%
        tr td:first-child
            width: 30%


    // Referenced foonotes
    .footnotes
        margin-top: spacing-5

        border-radius: medium-radius
        padding: spacing-1 spacing-4
        background-color: var(--background-1)
        // border: solid 1px var(--background)

        li
            margin: spacing-2 0