background-colour = #000 #060406 #150f15 #211921 #231923 #271f27 #352b35
foreground-colour = #f0ecee #d3cbcf #a59ca0 #7a7577 #666063 #4d474a

// Guilded stuff
guilded-background-colour = #4e4f59 #373943 #32343d #292b32
guilded-foreground-colour = #ffffff #ececee #a3a3ac #82838a
guilded-accent = #f5c400 #fef0b9

event-red = #ee4040
event-yellow = #f5b85c
event-green = #88da58
event-cyan = #60ddad
event-sky = #5eace0
event-blue = #404fd4
event-purple = #9061e7

// Custom colours
highlight-colour = {
    red: #f82d59,
    orange: #f87e2d,
    yellow: #f8d32d,
    green: #66f82d,
    cyan: #2df8aa,
    teal: #2df8e7,
    sky: #2da7f8,
    blue: #2d41f8,
    purple: #ae2df8,
    pink: #f82ddd,
    crimson: #f82d82
}

// Conditions
condition-good = #59da75
condition-bad = #db2855

// Code
inserted = #abe24b
highlighted = #ffb95e
deleted = #fe603f

// Default
normal-selection = #0073ff