background-colour = #000 #060406 #140f14 #201920 #201920 #271f27 #352b35
foreground-colour = #f0ecee #d3cbcf #a59ca0 #7a7577 #666063 #4d474a

normal-selection = #0073ff

guilded-background-colour = #4e4f59 #373943 #32343d #292b32
guilded-foreground-colour = #ffffff #ececee #a3a3ac #82838a
guilded-accent = #f5c400 #fef0b9

// Event colours
event-red = #ee4040
event-yellow = #f5b85c
event-green = #88da58
event-cyan = #60ddad
event-sky = #5eace0
event-blue = #404fd4
event-purple = #9061e7

// Conditions
condition-good = #64da59
condition-bad = #db2840

// Code
inserted = #abe24b
highlighted = #ffb95e
deleted = #fe603f