@require "./text/formatting.styl"
@require "./text/codeblock.styl"
@require "./text/quoteblock.styl"
@require "./text/syntax.styl"

// Change the colour and font of headers
.markdown-content
    h1, h2, h3, h4, h5, h6
        color: var(--foreground-0)
        font-family: font-header

    // Change line height for inline code
    p, li
        line-height: 1.3em

    img
        // Don't make it go beyond the bounds
        max-width: 75%

        // Make it center-aligned
        display: block
        margin-left: auto
        margin-right: auto

    // Links
    a[href]
        text-decoration: none
        // Semi-gilded normally
        &, &:visited, &:focus, &:active
            color: var(--foreground-link)
            // If it holds code, make it coloured too
            code
                color: var(--foreground-link)
        // White on hover
        &:hover
            color: var(--foreground-link-hover)
            code
                color: var(--foreground-link-hover)