/******************************
 *         Definitions
 ******************************/

/* Colour definitions */
:root {
    --gnet-class: #d78767;
    --gnet-abstract: #878787;
    --gnet-module: #d78767;
    --gnet-interface: #6787d7;
    --gnet-enum: #d76767;
    --gnet-struct: #d78767;
    --gnet-delegate: #9dd767;

    --gnet-constructor: #d78767;
    --gnet-method: #a767d7;
    --gnet-property: #878787;
    --gnet-field: #6787d7;
    --gnet-event: #9dd767;

    --gnet-label: #979797;
    --gnet-label-pre: #727272;
    --label-space-size: 0.7rem;
}

/******************************
 *         References
 ******************************/


/*
 * Base
 */

/* Reference wrapper */
.reference-wrapper {
    background-color: var(--background-level-1);
    padding: var(--bit-space-size);
    margin: var(--tiny-space-size);
    border-radius: var(--embed-radius);
}
.reference-information {
    background-color: var(--background-level-2);
    padding: var(--smaller-space-size);
    margin: var(--bit-space-size);
    border-radius: var(--embed-radius);
}
/* Reference definition */
.reference-definition {
    padding: var(--bit-space-size);
}
.reference-definition::before {
    margin-right: var(--tiny-space-size);
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
/* Reference definition names and labels */
.reference-definition .reference-name::before {
    font-weight: bolder;
    font-variant: small-caps;
    margin-right: 0.5rem;
}
.reference-definition .reference-name {
    font-weight: bold;
}

/*
 * Definition labels
 */

/* Label */
.reference-return {
    margin-left: var(--label-space-size);
    font-weight: bolder;
    
    opacity: 0.7;
    transition: opacity 0.3s;
    cursor: default;
}
/* Hovering over the label */
.reference-return:hover {
    opacity: 1;
}
/* Label as a link */
.reference-return[href], .reference-return[href]:active, .reference-return[href]:visited, .reference-return[href]:hover {
    color: var(--gnet-label);
    cursor: pointer;
}

/* Before the label */
.reference-return::before {
    color: var(--gnet-label-pre);
    content: ': ';
}

/*
 * Definition
 */


/* Class */
.reference-class::before {
    color: var(--gnet-class);
    content: '\f24d';
}
.reference-class .reference-name::before {
    color: var(--gnet-class);
    content: 'class';
}
.reference-inheritance {
    opacity: 75%;
}
.reference-inheritance::before {
    content: 'inherits from ';
}
.reference-inherits,
.reference-inherits:focus,
.reference-inherits:active,
.reference-inherits:visited,
.reference-inherits[href],
.reference-inherits[href]:focus,
.reference-inherits[href]:active,
.reference-inherits[href]:visited {
    color: var(--foreground-level-3);
}
.reference-inherits:hover,
.reference-inherits[href]:hover {
    color: var(--foreground-level-2);
}
.reference-inherits::after {
    content: ', ';
}
.reference-inherits:last-child::after {
    content: '';
}

/* Struct */
.reference-struct::before {
    color: var(--gnet-struct);
    content: '\f0e8';
}
.reference-struct .reference-name::before {
    color: var(--gnet-struct);
    content: 'struct';
}

/* Interface */
.reference-interface::before {
    color: var(--gnet-interface);
    content: '\f7d3';
    font-weight: 400;
    font-family: "Font Awesome 5 Brands";
}
.reference-interface .reference-name::before {
    color: var(--gnet-interface);
    content: 'interface';
}

/* Module */
.reference-module::before {
    color: var(--gnet-module);
    content: '\f24d';
}
.reference-module .reference-name::before {
    color: var(--gnet-module);
    content: 'static class';
}

/* Enum */
.reference-enum::before {
    color: var(--gnet-enum);
    content: '\f542';
}
.reference-enum .reference-name::before {
    color: var(--gnet-enum);
    content: 'enum';
}

/* Constructor */
.reference-constructor::before {
    color: var(--gnet-constructor);
    content: '\f1b2';
}
.reference-constructor .reference-name::before {
    color: var(--gnet-constructor);
    content: 'constructor';
}

/* Delegate */
.reference-delegate::before {
    color: var(--gnet-delegate);
    content: '\f1b2';
}
.reference-delegate .reference-name::before {
    color: var(--gnet-delegate);
    content: 'delegate';
}

/* Method */
.reference-method::before {
    color: var(--gnet-method);
    content: '\f1b2';
}
.reference-method .reference-name::before {
    color: var(--gnet-method);
    content: 'method';
}

/* Property */
.reference-property::before {
    color: var(--gnet-property);
    content: '\f35a';
}
.reference-property .reference-name::before {
    color: var(--gnet-property);
    content: 'property';
}

/* Field */
.reference-field::before {
    color: var(--gnet-field);
    content: '\f550';
}
.reference-field .reference-name::before {
    color: var(--gnet-field);
    content: 'field';
}

/* Event */
.reference-event::before {
    color: var(--gnet-event);
    content: '\f005';
}
.reference-event .reference-name::before {
    color: var(--gnet-event);
    content: 'event';
}

/* Abstract */
.reference-abstract::before {
    color: var(--gnet-abstract);
    font-weight: 500;
}
.reference-abstract .reference-name::before {
    color: var(--gnet-abstract);
}

/*
 * Points
 */

/* Wrapper */
.reference-point {
    padding: 0.5rem;
}
/* Title */
.reference-point-title {
    font-weight: bolder;
    color: var(--foreground-level-1);
    padding: var(--tiny-space-size);
    border-bottom: var(--header-border);
}
/* Points */
.reference-points {
    color: var(--foreground-level-2);
}
.reference-points ul {
    list-style-type: square;
}

/*
 * Docs
 */
.reference-docs {
    padding: var(--smaller-space-size);
    background-color: var(--background-level-3);

    border: solid 2px;
    border-color: var(--background-code);
    border-radius: var(--embed-radius);
}
.reference-docs::before {
    content: 'docs';
    font-variant: small-caps;

    position: relative;
    
    background-color: var(--background-code);

    top: var(--small-space-size-minus);
    border-radius: var(--embed-radius);
    padding: var(--tiny-space-size);
}
.reference-docs-title {
    font-weight: bolder;
}