:root {
    --background-page: #0b0a0c;
    --background-page-highlight-0: #111013;
    --background-page-highlight-1: #17141a;
    --background-page-highlight-2: #1e1a22;
    --background-document: #17141a;
    --background-document-highlight: #2d2733;
    --background-code: #0a090a;
    --background-quote: #0b0a0c;
    --background-format: #201c24;
    --background-footnotes: #111013;
    --background-label: #29232e;
    --background-table-row-odd: #201c24;
    --background-table-row-even: #26212b;
    --panel-border: #e4caff10;

    --scrollbar: #201c24;

    --foreground-level-0: #ebe2f3;
    --foreground-level-1: #ddd2e6;
    --foreground-level-2: #d1c5db;
    --foreground-level-3: #b5aabe;
    --foreground-level-4: #7a6b85c9;
    --foreground-link: #d87eac;
    --foreground-link-hover: #f3b4d5;
    --foreground-code: #f38989;

    --accent: #e06ea9;
    --background-selection: #e792beda;
    --foreground-selection: black;
}