:root {
    /* Server list */
    --background-level-0: #090909;
    /* Group list */
    --background-level-1: #0c0c0c;
    /* Channel list */
    --background-level-2: #0e0e0e;
    /* Member list */
    --background-level-3: #121212;
    /* Chat area */
    --background-level-4: #181818;

    /* Channel selected */
    --background-level-2-highlight: #151515;
    /* Message text area */
    --background-level-4-input: #0c0c0c;
    /* Threaded message background */
    --background-level-4-thread: #222222;

    --foreground-level-0: #DDDDDD;
    --foreground-level-1: #AAAAAA;
    --foreground-level-2: #727272;
    --foreground-level-3: #626262;
    --foreground-link: #d6a284;
    --foreground-link-hover: #d4b3a4;
}

.navigation {
    background-color: var(--background-level-2);
}