---
layout: base
---
<div class="body-list">
    <div class="body-list-search">
        <div class="list-search-wrapper">
            <input id="list-search" placeholder="Search types"/>
        </div>
    </div>
    <div class="body-list-items">
        <div class="list-namespace">
            <div class="list-header">
                <h5>Guilded.NET</h5>
            </div>
            <div class="list-body">
                <a class="list-item" obj="class" href="#">GuildedBotClient</a>
                <a class="list-item" obj="module" href="#">MediaUtil</a>
                <a class="list-item" obj="delegate" href="#">Stuff</a>
            </div>
        </div>
        <div class="list-namespace">
            <div class="list-header">
                <h5>Guilded.NET</h5>
            </div>
            <div class="list-body">
                <a class="list-item" obj="struct" href="#">Testus</a>
                <a class="list-item" obj="interface" href="#">Test</a>
                <a class="list-item" obj="abstract" href="#">Testo</a>
                <a class="list-item" obj="enum" href="#">Something</a>
            </div>
        </div>
    </div>
</div>
<div class="body-document">
    <div class="body-content">
        {{ content }}
    </div>
</div>