@require "./style/variables"
@require "./style/text"

body, html
    width: 100%
    height: 100%
    margin: 0
    padding: 0
	font-weight: 300
	font-style: normal

// Scrollbar and selection
*
    // Firefox scrollbar
    scrollbar-width: auto
    scrollbar-color: var(--scrollbar) transparent
    // Chromium/Blink and Webkit scrollbar
    &::-webkit-scrollbar
        width: 8px
        // The tracks
        &-track
            background: transparent
        // The scrollbar itself
        &-thumb
            background-color: var(--scrollbar)
            border-radius: 16px
    // Selection
    &::selection
        background-color: var(--background-selection)
        color: var(--foreground-selection)

body
    background-color: var(--background-1)
    color: var(--foreground-1)
    font-family: font-normal
    overflow: hidden
    display: flex
    flex-direction: column
    align-items: stretch

:root
	--background-0: background-colour[0]
	--background-1: background-colour[1]
	--background-2: background-colour[2]
	--background-3: background-colour[3]
	--background-4: background-colour[4]
	--background-5: background-colour[5]
	--background-6: background-colour[6]
	--panel-border: #e4caff10
	// Buttons
	--scrollbar: background-colour[5]
	// Text
	--foreground-0: foreground-colour[0]
	--foreground-1: foreground-colour[1]
	--foreground-2: foreground-colour[2]
	--foreground-3: foreground-colour[3]
	--foreground-4: foreground-colour[4]
	--foreground-5: foreground-colour[5]
	--foreground-link: #d87eac
	--foreground-link-hover: #f3b4d5
	--foreground-code: #f38989
	// Accent
	--accent: #e06ea9
	--background-selection: #e792beda
	--foreground-selection: black